* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #242424;
  --color-primary: rgba(255, 255, 255, 0.87);
  --color-green: #15a846;
}

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;

  color: var(--color-primary);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}
